/* ==========================================================================
   Header
   ========================================================================== */

.navbar {
    background-color: #000000;
}
.navbar_top {
    display: flex;
    padding: 20px;
}

.navbar_top ul {
    list-style: none;
    display: flex;
    margin: auto auto;
    padding-left: 0;
    width: 50%;
}

.navbar_top ul li {
    color: #ffffff;
}

.navbar_top ul li a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
}

.navbar_top ul li.about_me,
.more_info_on_mobile {
    width: 50%;
    text-align: center;
}

.navbar_top ul li.info {
    display: none;
}

@media screen and (min-width: 767px) {
    .navbar_top ul {
        width: 75%;
    }

    .navbar_top ul li a:hover {
        cursor: pointer;
    }
    
    .navbar_top ul li a::after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background:#ffffff;
        transition: width .4s;
    }
    
    .navbar_top ul li a:hover::after {
        width: 100%;
    }

    .navbar_top ul li.about_me,
    .info {
        width: 30%;
        text-align: center;
    }

    .more_info_on_mobile {
        display: none;
    }

    .navbar_top ul li.info {
        display: inline;
    }
}
